<section class="page-wrapper">
  <div class="content-wrapper">
    <div class="search-panel">
      <app-search-panel (inputEmitter)="getMoviesByGivenQuery($event)"></app-search-panel>
    </div>
    <h2>{{movieResults ? movieResults.total_results : 0}} Search result(s)</h2>

    <app-no-results *ngIf="movieResults?.total_results === 0 || pageInitState"></app-no-results>

    <app-result-list
      [movieList]="movieResults ? movieResults.results : []"
      (movieIdEmitter)="getMovieDetailsAndOpenModal($event)"
    ></app-result-list>

    <app-details-modal
      [display]="detailsModalVisible"
      [movie]="detailedMovie"
      (closeModalEmitter)="closeMovieDetailsModal()"
    ></app-details-modal>

    <div class="paginator-holder">
      <app-paginator
        [totalRecords]="movieResults ? movieResults.total_results : 0"
        (pageEmitter)="paginate($event)"
      ></app-paginator>
    </div>
  </div>

</section>
