<section class="page-wrapper">
  <div class="content-wrapper">
    <div class="search-panel">
      <app-search-panel (inputEmitter)="getMoviesByGivenQuery($event)"></app-search-panel>
    </div>
    <h2>{{movieResults ? movieResults.total_results : 0}} Search result(s)</h2>
    <app-result-list
      [movieList]="movieResults ? movieResults.results : []"
      (movieIdEmitter)="getMovieDetailsAndOpenModal($event)"
    ></app-result-list>

    <app-details-modal
      [display]="detailsModalVisible"
      [movie]="detailedMovie"
      (closeModalEmitter)="closeMovieDetailsModal()"
    ></app-details-modal>

    <div class="paginator-holder">
      <p-paginator [rows]="20" [totalRecords]="movieResults ? movieResults.total_results : 0" (onPageChange)="paginate($event)"></p-paginator>
    </div>
  </div>

</section>
